@use '@/styles/utils' as *;

html:has(dialog[open]) {
  overflow: hidden;
}

.openBasketBtn {
  @include button;
  width: 20rem;
  z-index: 5;
  align-self: center;
  display: flex;
  bottom: 2rem;
  right: 2rem;
  box-shadow: 0 0 6px var(--secondary-color);
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  position: relative;
  position: fixed;
  @media ($laptop) {
    bottom: 3rem;
    right: 5rem;
  }
}

.icon {
  margin-left: 0.5rem;
  height: 4rem;
  width: fit-content;
}

.openBasketBtn__counter {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  min-width: 2rem;
  border-radius: var(--border-radius-m);
  font-weight: 600;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.basket {
  padding: 0;
  border: none;
  background-color: transparent;
  width: 90%;
  @media ($tablet) {
    max-width: 70rem;
    width: 100%;
  }

  &__container {
    background-color: var(--secondary-color);
    border-radius: var(--border-radius-m);
    padding: 3rem 2rem;
    display: grid;
    gap: 2rem;
  }

  // animation properties
  transition:
    display var(--transition-duration-m) allow-discrete,
    overlay var(--transition-duration-m) allow-discrete;
  animation: close-basket var(--transition-duration-m) forwards;

  &[open] {
    animation: open-basket var(--transition-duration-m) forwards;
  }

  &::backdrop {
    transition:
      display var(--transition-duration-m) allow-discrete,
      overlay var(--transition-duration-m) allow-discrete;
    animation: close-backdrop var(--transition-duration-m) forwards;
  }
  &[open]::backdrop {
    animation: open-backdrop var(--transition-duration-m) forwards;
  }

  @keyframes open-backdrop {
    from {
      background-color: rgba(0, 0, 0, 0);
      backdrop-filter: blur(0px);
    }
    to {
      background-color: rgba(0, 0, 0, 0.5);
      backdrop-filter: blur(7px);
    }
  }
  @keyframes close-backdrop {
    from {
      background-color: rgba(0, 0, 0, 0.5);
      backdrop-filter: blur(7px);
    }
    to {
      background-color: rgba(0, 0, 0, 0);
      backdrop-filter: blur(0px);
    }
  }
  @keyframes open-basket {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes close-basket {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
  // end

  &__title {
    font-size: 2.4rem;
    font-weight: 600;
    text-align: center;
  }

  &__list {
    list-style: none;
  }

  &__item {
    display: flex;
    font-weight: 600;
    font-size: 1.6rem;
    padding: 1rem;
  }

  &__text {
    flex-grow: 1;
  }

  &__closeBtn {
    position: absolute;
    top: 2rem;
    right: 2rem;

    @include svg-button(3rem, 3rem);
  }

  &__deleteAllBtn {
    @include svg-button(3rem, 3rem);
    position: absolute;
    top: 2rem;
  }
}

.basket__confirmBtn {
  @include button;
}

.emptyMessage {
  justify-self: center;
  margin: 2rem;
  font-size: 1.6rem;
  font-style: italic;
  color: var(--secondary-text-color);
  text-align: center;
}
