@use '@/styles/utils' as *;

.openBasketBtn {
  @include button;
  width: 20rem;
  z-index: 5;
  align-self: center;
  display: flex;
  bottom: 2rem;
  right: 2rem;
  box-shadow: 0 0 6px var(--secondary-color);
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  position: relative;
  position: fixed;
  img {
    margin-left: 0.5rem;
    height: 4rem;
  }
  @media ($laptop) {
    bottom: 3rem;
    right: 5rem;
  }
}

.openBasketBtn__counter {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  min-width: 2rem;
  border-radius: var(--border-radius-m);
  font-weight: 600;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.basket {
  width: 90%;
  padding: 2rem;
  border: none;
  border-radius: var(--border-radius-m);

  @media ($tablet) {
    max-width: 70rem;
    width: 100%;
  }

  &__title {
    font-size: 2.4rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 2rem;
  }

  &::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(7px);
  }

  &__list {
    list-style: none;
  }

  &__item {
    display: flex;
    font-weight: 600;
    font-size: 1.6rem;
    padding: 1rem;
  }

  &__text {
    flex-grow: 1;
  }

  &__closeBtn {
    position: absolute;
    top: 2rem;
    right: 2rem;

    @include svg-button();
  }

  &__deleteAllBtn {
    @include svg-button(3rem, 3rem);
    position: absolute;
    top: 2rem;
  }
}

.basket__confirmBtn {
  width: 100%;
  margin: 1rem 0;
  @include button;
}

.emptyMessage {
  justify-self: center;
  margin: 2rem;
  font-size: 1.6rem;
  font-style: italic;
  color: var(--secondary-text-color);
  text-align: center;
}
