@use '@/styles/utils' as *;

.basketItem {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  &__title {
    @include truncate;
    flex-grow: 1;
  }
  &__actions {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: 600;
    font-size: 1.6rem;
  }
  &__quantity {
    min-width: 1.7rem;
    text-align: center;
  }
  &__increaseBtn,
  &__decreaseBtn {
    @include svg-button();
    height: 3rem;
    width: 3rem;
    user-select: none;
  }
}
